# Dependencies
node_modules/
.venv/
__pycache__/

# Build
client/dist/
client/test-results/
client/www/
client/ios/
client/android/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
